---
---

/* VARIABLES */
$logo-color: rgb(67,84,160);
$primary-color: rgb(255,255,255);//rgb(170,182,236);
$secondary-color: rgb(67,84,160);
$panel-color: $secondary-color; /*rgb(46,57,109);*/
$font: 'Lato', sans-serif;

/* CSS */

body {
	background-color: $primary-color;
	background-repeat: no-repeat;
	background-size: 100%;
}


p, h1, li, a{
	font-family: $font;
}
p {
	color: $secondary-color;
}

h1 {
	color: $secondary-color;
	font-weight: 300;
}

a {
	color: gray;
}

a:hover {
	color: $primary-color;
}

.panel {
	background-color: $panel-color;
	border-color: $panel-color;
	//border-radius: 10px;
}

.panel p {
	color: $primary-color;
}

.button {
	margin: 0 auto;
	border-radius: 5px;
	background-color: $panel-color;
	color: $primary-color;
}

.button:hover {
	color: $panel-color;
	background-color: $primary-color;
}

.logo {
	padding: 10px;
}

$break-medium: 1024px;

.info-text {
	 margin-right: 15%;
	 margin-left: 15%;
	 @media screen and (max-width : $break-medium)
	 {
	 	margin-right: 0;
	 	margin-left: 0;
	 }
}

$nav-bar-link-font-weight: 300;
$nav-bar-main-font-weight: 400;
$nav-bar-link-font-size: 1.5em;
$nav-bar-main-font-size: 2em;

.top-bar {
	color : $secondary-color;
	background-color: $primary-color;
}

.top-bar .name h1 a {
	color: $secondary-color;
	font-weight: $nav-bar-main-font-weight;
	font-family: $font;
	font-size: $nav-bar-main-font-size;
}

.top-bar .name h1 a:hover {
	color: $primary-color;
	background-color: $secondary-color;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: $primary-color;
	color: $secondary-color;
	font-weight: $nav-bar-link-font-weight;
	font-family: $font;
	font-size: $nav-bar-link-font-size;

}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: $logo-color;
	color: $primary-color;
}

.top-bar .toggle-topbar.menu-icon a {
	color: $secondary-color;
	font-family: $font;
	font-weight: $nav-bar-link-font-weight;
	font-size: $nav-bar-link-font-size;
}

.top-bar.expanded .toggle-topbar a {
	color: $primary-color;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.slick-dots {
	margin-left: 0;
}

.img-center {
	border: none;
    display: block;
    margin: 0 auto;
}

.thumbnail {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.gallery-grid {
	display: inline-block;	
	overflow: hidden;
	height: 100px;
	width: 150px;
}

.slick-prev:before, .slick-next:before {
	color: $secondary-color;
}